header {
    text-align: right;
}
.mailgraf {
    color: rgba(0,0,0,0.87);
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    margin: 5px;
}
.mailgraf:hover {
    opacity: .85;
    text-decoration: underline;
}
li{
    display: inline;
    list-style-type: none;
}
.konto a {
    /*border-radius: 50%;*/
    background-color: dodgerblue;
    font-size: 16px;
    color: white;
    border-color: transparent;
    font-family: arial, sans-serif;
    text-decoration: none;
    height: 32px;
    width: 60px;
    background-size: 32px 32px;
}

.logodiv {
    height: 233px;
    margin-top: 89px;
    text-align: center;
}
.logo {
    padding-top: 109px;
}
.szukanie {
    width: 370px;
    margin: 0 auto;
}
.wyszukiwarka {
    width: 388px;
    margin: 0 auto;
}
    
