.pasekgorny {
    text-align: right;
}
.mailgraf {
    color: rgba(0,0,0,0.87);
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.mailgraf:hover {
    opacity: .85;
    text-decoration: underline;
}
li{
    display: inline;
    list-style-type: none;
}

    
